<div class="conteudo">
    <div class="conteudo-login w-100 m-auto">
        <div class="row">
            <span>
                <a>
                    <img class="logo" src="assets/pmpe.png" alt="logo">
                </a>
            </span>
            <span>
                <a>
                    <img class="logo" src="assets/dtec.png" alt="logo">
                </a>
            </span>
        </div>
        <div class="row">
            <form class="conteudo-form" [formGroup]="loginForm" (submit)="login()">
                    <input class="input-login" placeholder="Digite seu Login" formControlName="username">
                    <input class="input-login" type="password" placeholder="Digite sua Senha" formControlName="password">
                    <button class="input-submit" [disabled]="!loginForm.valid">Entrar</button>
            </form>
        </div>
        <div class="row">
            <p>© Desenvolvio pela Diretoria de Tecnologia da PMPE</p>
        </div>
    </div>
</div>